<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style1.css">
    <title>Document</title>
</head>
<body>
    <div>
        <h1> hover</h1>
        <p>hsgahahteiok</p>
       </div>
       <div class="dropdown">
        <span>hover me</span>
        <div class="drop-content">
            <p>hello world</p>
        </div>
       </div>
       <div class="dropbtn">
        <button>Dropdown</button>
        <div class="dropdowncontent">
            <a href="#">link1</a>
            <a href="#">link2</a>
            <a href="#">link3</a>
        </div>
       </div>
       <h1>counters used css</h1>
       <h2>java</h2>
       <h2>python</h2>
       <h2>html</h2>
       <h2>css</h2>
       <h2>node js</h2>

       <a href="#">google</a>
       <a href="#" target="_blank">facebook</a>
       <a href="#" target="_top">instagram</a>



       <br><br><br><br>
       <img src="/static/img/flower.jpg" title="flower" width="300px"  alt="">
       <img src="/static/img/flower2.jpeg" title="lilly flower" width="300px" alt="">
       <img src="/static/img/flower3.jpeg" title="rose" width="500px" alt="">

<div class="container">


       <br><br><br>
       <input type="text"><br><br>
       <input type="number"><br><br>
       <input type="button" value="submit">
    </div>
       

       </body>
       </html>